body {
	width: 70%;
	margin: 0 auto;
}
.h1 {
	font-size: 32px;
}
figure {
    width:10em;
    float: right;
}

figure>img{
    width:110%
}
figcaption{
    font-family: cursive;
    font-size: 13px;
}
h1 {
	font-family: sans-serif;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
h2 {
	font-family: sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
}
h3 {
	font-family: sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
}
table, th, td { 
	border: 1px solid black ; border-collapse: collapse
}
.company {
	width: 40%;
}